In [1]:
import base64
import logging
import tornado.web
from tornado import gen
import json
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import os
import xlrd
import copy

In [2]:
def create_column(df,nm):
	df['{}'.format(nm)]=[]

In [3]:
def read_excel(file):
	return pd.ExcelFile(file).parse(pd.ExcelFile(file).sheet_names[0])

In [4]:
path="handlers/Excel"

In [5]:
df_materiais = pd.DataFrame({})
df_licitacoes = pd.DataFrame({})
df_lotes = pd.DataFrame({})
tabela_unica = pd.DataFrame({})

In [6]:
create_column(df_licitacoes,'Licitações')
create_column(df_licitacoes,'Lotes')

create_column(df_lotes,'Licitações')
create_column(df_lotes,'Lotes')

In [7]:
arr_licitacoes=os.listdir(path)

In [8]:
arr_lotes=[]
arr_infos=[]
for diretorio in arr_licitacoes:
    arr_lotes+=[os.listdir('{}/{}'.format(path, diretorio))]
    arr_infos+=[os.listdir('{}/{}/{}'.format(path, diretorio,'Lotes'))]
arr_lotes2 = copy.deepcopy(arr_lotes)

In [9]:
arr_lotes

[['Lotes', 'infos.xlsx'],
 ['Lotes', 'infos.xlsx'],
 ['Lotes', 'infos.xlsx'],
 ['Lotes', 'infos.xlsx'],
 ['Lotes', 'infos.xlsx']]

In [10]:
for i in range(len(arr_lotes2)):
    for j in range(len(arr_lotes2[i])):
        if arr_lotes2[i][j] == 'Lotes':
            arr_lotes[i].remove(arr_lotes[i][j])
        else:
            continue 
arr_lotes3 = copy.deepcopy(arr_lotes)

In [11]:
arr_lotes

[['infos.xlsx'],
 ['infos.xlsx'],
 ['infos.xlsx'],
 ['infos.xlsx'],
 ['infos.xlsx']]

In [12]:
for k in range(len(arr_lotes3)):
    for l in range(len(arr_lotes3[k])):
        if arr_lotes3[k][l][0] == '.':
            arr_lotes[k].remove(arr_lotes[k][l])
            break
        else:
            continue 
arr_lotes4 = copy.deepcopy(arr_lotes)

In [13]:
arr_infos

[['Lote9.xlsx',
  'Lote6.xlsx',
  'Lote5.xlsx',
  'Lote8.xlsx',
  'Lote3.xlsx',
  'Lote1.xlsx',
  'Lote7.xlsx',
  'Lote2.xlsx'],
 ['lote12.xlsx',
  'lote2.xlsx',
  'lote3.xlsx',
  'lote5.xlsx',
  'lote1.xlsx',
  'lote17.xlsx',
  'lote16.xlsx',
  'lote8.xlsx',
  'lote15.xlsx',
  'lote11.xlsx',
  'lote4.xlsx',
  'lote10.xlsx',
  'lote14.xlsx',
  'lote7.xlsx',
  'lote18.xlsx',
  'lote9.xlsx',
  'lote6.xlsx'],
 ['lote12.xlsx',
  'lote2.xlsx',
  'lote3.xlsx',
  'lote5.xlsx',
  'lote1.xlsx',
  'lote17.xlsx',
  'lote16.xlsx',
  'lote8.xlsx',
  'lote19.xlsx',
  'lote15.xlsx',
  'lote11.xlsx',
  'lote4.xlsx',
  'lote10.xlsx',
  'lote14.xlsx',
  'lote7.xlsx',
  'lote22.xlsx',
  'lote18.xlsx',
  'lote9.xlsx',
  'lote20.xlsx',
  'lote6.xlsx',
  'lote13.xlsx',
  'lote21.xlsx'],
 ['Lote19.xlsx',
  'Lote20.xlsx',
  'Lote9.xlsx',
  'Lote4.xlsx',
  'Lote15.xlsx',
  'Lote6.xlsx',
  'Lote5.xlsx',
  'Lote8.xlsx',
  'Lote21.xlsx',
  'Lote10.xlsx',
  'Lote17.xlsx',
  'Lote3.xlsx',
  'Lote1.xlsx',
  'Lote12.xlsx',
  'Lote13.xlsx',
  'Lote18.xlsx',
  'Lote14.xlsx',
  'Lote7.xlsx',
  'Lote2.xlsx',
  'Lote11.xlsx'],
 ['Lote1.xlsx']]

In [14]:
arr_lotes

[['infos.xlsx'],
 ['infos.xlsx'],
 ['infos.xlsx'],
 ['infos.xlsx'],
 ['infos.xlsx']]

In [15]:
for i in range(len(arr_licitacoes)):
    if arr_licitacoes[i] in list(df_licitacoes.Licitações):
        continue
    for k in range(len(arr_lotes[i])):
        df_licitacoes = df_licitacoes.append({'Licitações':arr_licitacoes[i],'Infos':arr_lotes[i][k]}, ignore_index=True)

In [16]:
for i in range(len(arr_licitacoes)):
    if arr_licitacoes[i] in list(df_lotes.Licitações):
        continue
    for k in range(len(arr_infos[i])):
        df_lotes = df_lotes.append({'Licitações':arr_licitacoes[i],'Lotes':arr_infos[i][k]}, ignore_index=True)

In [17]:
df_lotes

         Licitações        Lotes
0   708108 005.2018   Lote9.xlsx
1   708108 005.2018   Lote6.xlsx
2   708108 005.2018   Lote5.xlsx
3   708108 005.2018   Lote8.xlsx
4   708108 005.2018   Lote3.xlsx
5   708108 005.2018   Lote1.xlsx
6   708108 005.2018   Lote7.xlsx
7   708108 005.2018   Lote2.xlsx
8   683283 001.2018  lote12.xlsx
9   683283 001.2018   lote2.xlsx
10  683283 001.2018   lote3.xlsx
11  683283 001.2018   lote5.xlsx
12  683283 001.2018   lote1.xlsx
13  683283 001.2018  lote17.xlsx
14  683283 001.2018  lote16.xlsx
15  683283 001.2018   lote8.xlsx
16  683283 001.2018  lote15.xlsx
17  683283 001.2018  lote11.xlsx
18  683283 001.2018   lote4.xlsx
19  683283 001.2018  lote10.xlsx
20  683283 001.2018  lote14.xlsx
21  683283 001.2018   lote7.xlsx
22  683283 001.2018  lote18.xlsx
23  683283 001.2018   lote9.xlsx
24  683283 001.2018   lote6.xlsx
25  702880 003.2018  lote12.xlsx
26  702880 003.2018   lote2.xlsx
27  702880 003.2018   lote3.xlsx
28  702880 003.2018   lote5.xlsx
29  702880 003.2018   lote1.xlsx
..              ...          ...
38  702880 003.2018  lote14.xlsx
39  702880 003.2018   lote7.xlsx
40  702880 003.2018  lote22.xlsx
41  702880 003.2018  lote18.xlsx
42  702880 003.2018   lote9.xlsx
43  702880 003.2018  lote20.xlsx
44  702880 003.2018   lote6.xlsx
45  702880 003.2018  lote13.xlsx
46  702880 003.2018  lote21.xlsx
47  702852 002.2018  Lote19.xlsx
48  702852 002.2018  Lote20.xlsx
49  702852 002.2018   Lote9.xlsx
50  702852 002.2018   Lote4.xlsx
51  702852 002.2018  Lote15.xlsx
52  702852 002.2018   Lote6.xlsx
53  702852 002.2018   Lote5.xlsx
54  702852 002.2018   Lote8.xlsx
55  702852 002.2018  Lote21.xlsx
56  702852 002.2018  Lote10.xlsx
57  702852 002.2018  Lote17.xlsx
58  702852 002.2018   Lote3.xlsx
59  702852 002.2018   Lote1.xlsx
60  702852 002.2018  Lote12.xlsx
61  702852 002.2018  Lote13.xlsx
62  702852 002.2018  Lote18.xlsx
63  702852 002.2018  Lote14.xlsx
64  702852 002.2018   Lote7.xlsx
65  702852 002.2018   Lote2.xlsx
66  702852 002.2018  Lote11.xlsx
67  707266 004.2018   Lote1.xlsx

[68 rows x 2 columns]

In [18]:
lote = read_excel('{}/{}/{}'.format(path, df_licitacoes.Licitações[0], df_licitacoes.Infos[0]))

In [19]:
info = read_excel('{}/{}/{}/{}'.format(path, df_lotes.Licitações[0], 'Lotes', df_lotes.Lotes[0]))

In [20]:
info

,Item,Descrição,Quantidade,Mercadoria
0,1,"REFRIGERADOR, combinado frost free 2 portas , ...",50,REFRIGERADOR
1,2,"REFRIGERADOR, domestico, duplex, capacidade to...",50,REFRIGERADOR

In [21]:
create_column(tabela_unica,'pdf_url')
create_column(tabela_unica,'classificacao')
create_column(tabela_unica,'fiscal')
create_column(tabela_unica,'valor_total')
create_column(tabela_unica,'numero_processo')
create_column(tabela_unica,'edital')
create_column(tabela_unica,'objeto')
create_column(tabela_unica,'contrato')
create_column(tabela_unica,'materiais_e_servicos')
create_column(tabela_unica,'demandante')
create_column(tabela_unica,'empresas')

create_column(df_materiais,'especificacoes')
create_column(df_materiais,'quantidade')
create_column(df_materiais,'valor_unitario')
create_column(df_materiais,'item')
create_column(df_materiais,'fornecedor')
create_column(df_materiais,'unidade')
create_column(df_materiais,'filename')

In [22]:
df_materiais

Empty DataFrame
Columns: [especificacoes, quantidade, valor_unitario, item, fornecedor, unidade, filename]
Index: []

In [27]:
for i in range(len(df_licitacoes)):
    if df_licitacoes.Licitações[i] in list(tabela_unica.numero_processo):
        continue
    lote = read_excel('{}/{}/{}'.format(path, df_licitacoes.Licitações[i], df_licitacoes.Infos[i]))
    info = read_excel('{}/{}/{}/{}'.format(path, df_lotes.Licitações[i], 'Lotes', df_lotes.Lotes[i])) 
    for k in range(len(lote)):
        tabela_unica = tabela_unica.append({'pdf_url': None, 'classificacao': 'ATAS COM VIGÊNCIA EXPIRADA', 'fiscal': lote.pregoeiro[k], 'valor_total': 'R$ {}'.format(lote.ValorArrematado[k]), 'numero_processo':df_licitacoes.Licitações[i],'edital':lote.edital[k], 'objeto':lote.Descricao[k], 'contrato': None, 'materiais_e_servicos': 'SRP 632/2016', 'demandante': 'DISER', 'empresas': [{'valor_estimado': 'R$ {}'.format(lote.ValorUnitário[k]), 'nome_empresa': lote.Nome_Fantasia[k], 'termo_aditivo': None, 'vigencia': lote.vigencia[k], 'valor_global': 'R$ {}'.format(lote.ValorArrematado[k]), 'ata': None, 'descricao_empresa': lote.Atividade_Economica[k]}]}, ignore_index=True)
        for j in range(len(info)):    
            df_materiais = df_materiais.append({'especificacoes': info.Descrição[j], 'quantidade': info.Quantidade[j], 'valor_unitario': lote.ValorUnitário[j], 'item': info.Item[j], 'fornecedor': lote.Nome_Fantasia[j], 'unidade': None, 'filename':None}, ignore_index=True)

df_materiais

In [28]:
df_materiais

,especificacoes,quantidade,valor_unitario,item,fornecedor,unidade,filename
0,"REFRIGERADOR, combinado frost free 2 portas , ...",50.0,965.0000,1.0,"AQUALIMP PRODUTOS HOSPITALES, HIGIENE E LIMPEZA",None,None
1,"REFRIGERADOR, domestico, duplex, capacidade to...",50.0,1276.8400,2.0,WFL DISTRIBUIDORA,None,None
2,"Freezer horizontal ,Conservação de produtos e ...",100.0,3179.9999,1.0,DENTAL PRIME,None,None
3,"FOGAO a gás, industrial com 06 (seis) queimado...",40.0,2.5100,1.0,CIENTIFICA HOSPITALAR,None,None
4,"FOGAO, a gás, modelo domestico, 04 queimadores...",40.0,1.2500,2.0,CIENTIFICA HOSPITALAR,None,None
5,"FORNO, micro-ondas, capacidade total mínima 30...",50.0,9.5200,3.0,CIENTIFICA HOSPITALAR,None,None
6,"FOGAO a Gás industrial, com 04 (quatro) queima...",20.0,3.2600,4.0,FORMED,None,None
7,"PURIFICADOR DE ÁGUA, Ecocompressor: com gás R1...",60.0,62.7500,1.0,MEDISIL,None,None
8,BUFFET AQUECIMENTO 8 CUBAS Estrutura: Aço Inox...,10.0,297.6500,1.0,GAUS INDUSTRIA E COMERCIO,None,None